@keyframes moveupanimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes movedownanimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(0.5) translateY(20px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* social animations */
@keyframes fadeoutanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes socialanimationicons {
  0% {
    height: 32px;
  }
  100% {
    height: 178px;
  }
}
