@keyframes moveupanimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes movedownanimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* social animations */
@keyframes socialanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
