@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Recline;
  src: url(/Recline.ttf);
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #d68e43;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #525252;
  --theme: #d68e43;
  /* --theme: rgb(0, 153, 255); */
  /* background-image: url(/public/categoriesimages/homedecoreandmore.webp); */
}

/* inuput fields */
.forminput:focus + label,
.forminput:valid + label {
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
  font-size: 12px;
}

.forminput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.forminput:-moz-autofill {
  -moz-box-shadow: 0 0 0px 1000px white inset;
  -moz-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.forminput:-moz-focusring {
  outline: 1px dotted transparent;
}

.test {
  border: 1px solid red;
}

.uploadloader {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/* about us heading */
.aboutusheading {
  background: url(/images/bg2.jpg);
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
  -webkit-animation: rotatehue 200s infinite linear;
  animation: rotatehue 200s infinite linear;
}
@-webkit-keyframes rotatehue {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(2);
    filter: hue-rotate(0deg) saturate(2);
    background-position: -200% 50%;
  }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(2);
    filter: hue-rotate(360deg) saturate(2);
    background-position: 200% 50%;
  }
}
@keyframes rotatehue {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(2);
    filter: hue-rotate(0deg) saturate(2);
    background-position: -200% 50%;
  }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(2);
    filter: hue-rotate(360deg) saturate(2);
    background-position: 200% 50%;
  }
}

.hidescroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.hidescroll::-webkit-scrollbar-thumb {
  background: transparent;
}

.fadingscrolleffect {
  background: linear-gradient(
    90deg,
    white 0px,
    transparent 40px,
    transparent calc(100% - 40px),
    white 100%
  );
}

@media screen and (width>786) {
  .fadingscrolleffect {
    background: linear-gradient(
      90deg,
      white 0px,
      transparent 80px,
      transparent calc(100% - 80px),
      white 100%
    );
  }
}

/* image loading */
.imgloader::after {
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: gradient-animation_2 1.2s linear infinite;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.grecaptcha-badge {
  transform: translateX(100%);
}

/* input range */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  aspect-ratio: 1;
  background: white;
  outline: 1px solid var(--theme);
  outline-offset: 0px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translateY(calc(-50% + 1px));
  transform: translateY(calc(-50% + 1px));
  -webkit-transition: 0.2s linear, background-color 0s;
  transition: 0.2s linear, background-color 0s;
}
@media screen and (width>450px) {
  input[type="range"]::-webkit-slider-thumb:hover {
    outline-offset: 2px;
    background: var(--theme);
    -webkit-transform: translateY(calc(-50% + 1px)) scale(1.2);
    transform: translateY(calc(-50% + 1px)) scale(1.2);
  }
}
@media screen and (width<450px) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    aspect-ratio: 1;
    outline: 1px solid var(--theme);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.2s linear, background-color 0s;
    transition: 0.2s linear, background-color 0s;
    outline-offset: 2px;
    background: var(--theme);
    -webkit-transform: translateY(calc(-50% + 1px)) scale(1.2);
    transform: translateY(calc(-50% + 1px)) scale(1.2);
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: var(--theme);
}